*.a
*.obj
*.user.*
*.pro.user
*.pro.user.old
Release/
Debug/
release/
debug/
Makefile
Makefile.Debug
Makefile.Release
build-uninstaller-qt5_6_2_static-Release
build-uninstaller-qt6_static-Release
build-uninstaller-qt6_static-Debug